# Database Connection URL (PostgreSQL)
DATABASE_URL="postgresql://postgres:postgres@localhost:5432/team_task_manager?schema=public"

# Next Auth Secret (Generate a secure key using: openssl rand -base64 32)
NEXTAUTH_SECRET="secure-random-key-at-least-32-characters"

# Next Auth URL (Base URL of your local app)
NEXTAUTH_URL="http://localhost:3000"
